<h2><%= @sub.name %></h2>
<section><%= @sub.description %></section>
<small><a href="<%= edit_sub_url(@sub) %>">Edit</a></small><br>
<a href="<%= new_post_url %>">New post</a>

<h3>Posts</h3>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.vote_score %>
      <a href="<%= post_url(post) %>"><%= post.title %></a>
    </li>
  <% end %>
</ul>